.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.yellow-button {
  padding: 5px 15px;
  background-color: var(--yellow);
  color: var(--dark-color);
  border-radius: 5px;
  cursor: pointer;
}

.cart-item-qunatity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.change-quentity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}

.cart-item-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-color);
}